.theme-options {
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  padding: 20px 0;
  div {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 2px 10px;
    border: 1px solid #fff;
    display: inline-block;
    opacity: 0.5;
      &.active {
        opacity: 1;
        width: 30px;
        height: 30px;
      }
    }
}

#theme-white {
  background-color: white;
}

#theme-blue {
  background-color: #18227C;
}

#theme-orange {
  background-color: #FF9800;
}

#theme-red {
  background-color: #D32F2F;
}

#theme-green {
  background-color: green;
}

#theme-black {
  background-color: black;
}


// Theming colors

.App.theme-blue {
  background-color: #18227C;
  color: #FFFFFF;

  form button {
    color: #FFFFFF;
    background: #514AAC;
    &:hover {
      background:#00004F;
      color: #FFFFFF;
    }
  }
  .select::after {
    color: #FFFFFF;
    background-color: #514AAC;
  }
}

.App.theme-orange {
  background-color: #FF9800;
  color: #000000;
  form button {
    color: #FFC947;
    background:#000000;
    &:hover {
      background:#FFC947;
      color: #C66900;
    }
  }
  .select::after {
    color: #FFC947;
    background-color: #000000;
  }
  .complete-btn {
    background: rgb(11, 212, 162);
  }
  .trash-btn {
    background: #292C31;
  }
}

.App.theme-red {
  background-color: #D32F2F;
  color: #FFFFFF;
  form button {
    color: #FFFFFF;
    background: #9A0007;
    &:hover {
      background: #FF6659;
      color: #FFFFFF;
    }
  }
  .select::after {
    color: #FFFFFF;
    background-color: #9A0007;
  }
}

.App.theme-green {
  background-color: #D7FFD9;
  color: #000000;
  form button {
    color: #000000;
    background: #75A478;
    &:hover {
      background: #A5D6A7;
      color: #FFFFFF;
    }
  }
  .select::after {
    color: #000000;
    background-color: #75A478;
  }
}

.App.theme-black {
  background-color: #212121;
  color: #FFFFFF;
  form button {
    color: #FFFFFF;
    background: #484848;
    &:hover {
      background: #000000;
      color: #FFFFFF;
    }
  }
  .select::after {
    color: #FFFFFF;
    background-color: #484848;
  }
  .file{
    color:#484848;
  }
}

.App.theme-white {
  background-color: #CFD8DC;
  color: #000000;
  form button {
    background: #9EA7AA;
    color: #000000;

  &:hover {
    color: #9EA7AA;
    background: #FFFFFF;
  }
}
  .select::after {
    color: #000000;
    background-color: #9EA7AA;
  }
}
