.theme-options {
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  padding: 20px 0;
  div {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 2px 10px;
    border: 1px solid #fff;
    display: inline-block;
    opacity: 0.5;
      &.active{
        opacity: 1;
        width: 30px;
        height: 30px;
      }
    }
}

#theme-white {
  background-color: white;
}

#theme-blue {
  background-color: blue;
}

#theme-orange {
  background-color: orange;
}

#theme-red {
  background-color: red;
}

#theme-green {
  background-color: green;
}

#theme-black {
  background-color: black;
}


// Theming colors

.App.theme-blue {
  background-color: #052450;
  color: #D7E6FC;

  form button {
    color: #052450;
    background: #D7E6FC;
    &:hover {
      background: #052450;
      color: #D7E6FC;
    }
  }
  .select::after {
    color: #052450;
    background-color: #D7E6FC;
  }
}

.App.theme-orange {
  background-color: #FB7250;
  color: #292C31;
  form button {
    color: #FB7250;
    background: #292C31;
    &:hover {
      background: #FB7250;
      color: #292C31;
    }
  }
  .select::after {
    color: #FB7250;
    background-color: #292C31;
  }
  .complete-btn {
    background: rgb(11, 212, 162);
  }
  .trash-btn {
    background: #292C31;
  }
}

.App.theme-red {
  background-color: #FDECED;
  color: #D5182A;
  form button {
    color: #FDECED;
    background: #D5182A;
    &:hover {
      background: #FDECED;
      color: #D5182A;
    }
  }
  .select::after {
    color: #FDECED;
    background-color: #D5182A;
  }
}

.App.theme-green {
  background-color: #E8FDF2;
  color: #074526;
  form button {
    color: #E8FDF2;
    background: #074526;
    &:hover {
      background: #E8FDF2;
      color: #074526;
    }
  }
  .select::after {
    color: #E8FDF2;
    background-color: #074526;
  }
}

.App.theme-black {
  background-color: #292C31;
  color: #ffffff;
  form button {
    color: #292C31;
    background: #ffffff;
    &:hover {
      background: #000000;
      color: #ffffff;
    }
  }
  .select::after {
    color: #ffffff;
    background-color: #000000;
  }
  .file{
    color: #000000;
  }
}

.App.theme-white {
  background-color: #BFC4CA;
  color: #000000;
  form button {
    color: #BFC4CA;
    background: #000000;
    &:hover {
      background: #BFC4CA;
      color: #000000;
    }
  }
  .select::after {
    color: #BFC4CA;
    background-color: #000000;
  }
}
